body {
  background: url('mobile-background.png');
}

/* Change the background for tablets */

body {
  background: url('tablet-background.png');
}

/* Change the background again for desktop and increase the font-size */

body {
  background: url('desktop-background.png');
  font-size: 120%;
}
